[[source]]

url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'


[packages]


[dev-packages]

django_use_email_as_username = {path = ".", editable = true}

bumpversion = '*'
codecov = '*'
coverage = '*'
detox = '*'
isort = '*'
sphinx = '*'
sphinx-autobuild = '*'
sphinx-rtd-theme = '*'
tox = '*'
twine = '*'
wheel = '*'
